@using FirstWebStore.Models
@model FirstWebStore.Models.Equipment

@{
    ViewBag.Title = "Addition Equipment";
}

<form asp-action="CreateEquipment" asp-controller="Home">
    <p>
        <label asp-for="Name">Name</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="EquipType">Equipment Type</label><br />
        <select asp-for="EquipType" asp-items="Html.GetEnumSelectList<EquipmentType>()"></select>
    </p>
    <p>
        <label asp-for="NewEquipment">New Equipment</label><br />
        <input type="checkbox" asp-for="@Model.NewEquipment" />
    </p>
    <p>
        <label asp-for="Price">Price</label><br />
        <input type="number" asp-for="Price" />
    </p>
    <p>
        <input type="submit" value="Send" />
    </p> 
</form>
