@{
    ViewBag.Title = "Addition product";
}

<p><a asp-action="CreateEquipment" asp-controller="Home">Addition Equipment</a></p>
<p><a asp-action="CreateSpareParts" asp-controller="Home">Addition SpareParts</a></p>
<p><a asp-action="CreateMoto" asp-controller="Home">Addition Motocycle</a></p>