
<h2>Addition product</h2>

<p><a asp-controller="Home" asp-action="CreateEquipment">Equipment</a></p>
<p><a asp-action="CreateSpareParts" asp-controller="Home">SpareParts</a></p>
<p><a asp-action="CreateMoto" asp-controller="Home">Motocycle</a></p>