@model FirstWebStore.Models.Product

<h2>Edit product</h2>
<form asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Name">Name</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
</form>